* {
    box-sizing: border-box;
    
}
 h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    background-color: slategray;
    padding: 30px;
    margin-bottom: 20px;
}
.col{
  margin-bottom: 20px;
}
